body{
    background-color: darkkhaki;
    

}
header{
    background-color: blue;
}
menu{

    ul{
        li{
            display: inline-block;
            align-content: space-between;
            justify-content: space-evenly;
        }
    }
    background-color: lightblue;
    h2{

    }

}
div{
    

    header{


        p{
            display: flex;
            justify-content: center;

        }
        
                    
        H1{
            background-color: blue;
            display: flex;
            color: red;
            font-size: 500%;
            align-items: center;
            justify-content: center;
        }
        
        
    }

}

}
nav{

}
